.productocontainer{
    background: whitesmoke;
    padding: 20px 10px 20px 10px;
    width: 300px;
    margin:20px 10px 20px 10px;
}
img{
    max-width: 200px;
    width: 100%;
    height: auto;
}
h2{
    color:rgb(238, 131, 31);
}
p{
    color:orangered;
}
button{
    max-width:200px;
    width:100%;
    height: 30px;
    border: 1px solid rgb(238, 131, 31);
    background: rgb(238, 131, 31);
    color:whitesmoke;
    margin: 8px 5px 8px 5px;
    font-size: 13px;
}
button:hover{
    background: rgba(243, 236, 213, 0.589);
    color:rgb(238, 131, 31);
   
}
.derecha{
    float:right;
    color:rgb(238, 131, 31);
}

.clickeable{
    cursor: pointer;
}