<div class="productocontainer">
  <i (click)="deleteProduct(producto)" class="fas fa-times derecha clickeable"></i>
  <img [src]="producto.image" alt="">
  <p>{{producto.id}}</p>
  <h2>{{producto.name}}</h2>
  <h2>{{producto.price}}</h2>
  <button (click)="agregarALaCesta(producto)">Añadir a la Cesta</button>
  <button (click)="DeletefromBasket(producto)">Borrar producto</button>
  <button (click)="Showdescription(producto.description)">Mostrar descripción</button>

</div>
