<div class="center">
  <h1>
    Escoge tu producto
  </h1>
  <h5>
    numero de productos en tu carrito : {{getNumberProducts()}}
  </h5>
  <h5>
    Total precio productos en tu carrito : {{getTotalProducts()}}
  </h5>
  <div class="form">
    <input #inputImage type="text" placeholder="Imagen">
    <input #inputName type="text" placeholder="Nombre">
    <input #inputDescription type="text" placeholder="Descripción">
    <input #inputPrice type="number" placeholder="Precio">
    <br>
    <button (click)= "setProduct(inputImage.value, inputName.value, inputDescription.value, inputPrice.value)">Crea tu producto</button>
  </div>
  <div class="result">
    <ng-container *ngFor="let producto of getProductsFromService()">
      <app-products 
      [producto]="producto" 
      (onAgregarALaCesta)="agregarAlaCesta($event)" 
      (onDeletefromBasket)="deletefromBasket($event)" 
      (onShowdescription)="showDescription($event)"
      (onDeleteProduct)="deleteProduct($event)"
      >
    </app-products>
    </ng-container>
  </div>
  <button (click)="holaMundo()">hola mundo!</button>
</div>

