.center{
    max-width: 100wh;
    width: 100%;
    background: rgba(241, 223, 163, 0.767);
    text-align: center;
}
h1{
    color:rgb(238, 131, 31);
    font-size: 50px;
    margin:40px 40px 40px 40px;
}
.form, .result{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
input{
    max-width:300px;
    width:100%;
    height: 60px;
    border: 1px solidrgb(238, 131, 31);
    color: rgb(238, 131, 31);
    margin: 20px 10px 20px 10px;
    text-align: center;
}
button{
    max-width:500px;
    width:100%;
    height: 60px;
    border: 1px solid rgb(238, 131, 31);
    background: rgb(238, 131, 31);
    color:whitesmoke;
    margin: 20px 10px 20px 10px;
    font-size: 20px;
}
button:hover{
    background: rgba(243, 236, 213, 0.589);
    color:rgb(238, 131, 31);
   
}
